fastapi
uvicorn
chromadb
google-generativeai
pypdf
python-docx
python-pptx
python-dotenv
requests
langchain-text-splitters
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
